<style type="text/css">
	
#header{

    width: auto;
    height: 40px;
    padding: 10px 40px;
    background: #f3cd45 !important;
    line-height: 40px;
    color: #2d2d0c !important;
    overflow: hidden;
}
#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #080808 !important;
}

</style>
{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}


